@import "tailwindcss";

@keyframes imageload {
  0% {
    opacity: 0;
    scale: 0
  }
  to {
    opacity: 1;
    scale: 1
  }
}

.animate-imageload {
  animation: imageload .33s forwards;
  color: transparent;
}
