.page {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  & .ffviiec-logo {
    width: 100%;
    height: auto;
    max-width: 35.125rem;
  }

  & .description {
    text-align: center;
    color: white;
  }
}

.anchors-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 7rem 5rem;
}

.anchor-container {
  position: relative;
  transition: transform 0.1s;

  &:hover {
    transform: translateY(-10px);
  }

  & .outer-shadow,
  & .inner-shadow,
  & .border {
    top: 50%;   
    left: 50%;  
    transform: translate(-50%, -50%);
  }

  & .outer-shadow {
    position: absolute;
    width: 270px;
    height: 270px;
    background: linear-gradient(to top, rgba(74, 99, 195, 1) 0%, transparent 30%);
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  }

  & .inner-shadow {
    position: absolute;
    width: 180px;
    height: 180px;
    background: rgba(26, 63, 176, 0.5);
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  }

  & .border {
    position: absolute;
    width: 137px;
    height: 137px;
    background: rgb(68, 159, 201);
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  }

  & .anchor {
    display: block;
    width: 128px;
    height: 128px;
    background: rgb(26, 63, 176);
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  
    & img {
      transform: scale(0.8) translateX(-17px) translateY(10px);
    }
  }
}
