.page {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  & .ffviiec-logo {
    width: 100%;
    height: auto;
    max-width: 35.125rem;
  }

  & .description {
    text-align: center;
    color: white;
  }
}
