.page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  padding: var(--app-padding);
  max-width: 90rem;
}

.filters-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  background-color: rgb(9, 36, 67);
  border-radius: 4px;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border: 3px solid rgb(21, 81, 151);
}

.filters-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  gap: 0.75rem;

  &.filters-container-row--narrow {
    flex-direction: column;
  }
}

.filters-container-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  gap: 0.75rem;
}

.filter {
  background-color: rgb(4, 16, 30);
  color: white;
  border-radius: 4px;
  padding: 0.5rem;
}

.filter-name {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  & svg {
    position: absolute;
    left: 0.5rem;
    width: 24px;
    height: 24px;
  }

  & input {
    flex-grow: 1;
    box-sizing: border-box;
    width: 0;
    height: 2.25rem;
    border-radius: 50px;
    padding-left: 2.25rem;
    background-color: lightgray;
  }
}

.level-and-overboost-container {
  display: flex;
  gap: 0.75rem;
}

.downscale-on-click {
  transition: transform 0.1s ease;

  &:active {
    transform: scale(0.95);
  }
}

.selectable-button {
  cursor: pointer;
  background-color: rgb(14, 21, 27);
  border-style: solid;
  border-color: rgb(58, 82, 110);
  border-radius: 4px;
  border-width: 0.125rem;
  outline: rgb(58, 82, 110) solid calc(0.3rem / 2.5);
  outline-width: 0.125rem;
  outline-offset: calc(-0.125rem * 3);

  &:hover {
    background-color: rgb(25, 33, 47);
    border-color: rgb(85, 116, 170);
    outline-color: rgb(85, 116, 170);
  }

  &.selectable-button--selected {
    background-color: #232f43;
    border-color: #7790bb;
    outline-color: #7790bb;
  }

  &.selectable-button--overboost {
    display: flex;
    align-items: center;
    justify-content: space-between;
    --gap: 0.25rem;
    gap: var(--gap);
    color: white;
    --top-and-bottom-padding: calc(0.125rem * 2);
    --left-and-right-padding: calc(var(--top-and-bottom-padding) + var(--gap));
    padding: var(--top-and-bottom-padding) var(--left-and-right-padding);
  }
}

.selector-group {
  position: relative;

  & .selector-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    background-color: rgb(14, 21, 27);
    border: 0.125rem solid rgb(58, 82, 110);
    border-radius: 4px;
    outline: rgb(58, 82, 110) solid calc(0.3rem / 2.5);
    outline-width: 0.125rem;
    outline-offset: calc(-0.125rem * 3);
    padding: calc(0.125rem * 3) calc(2* calc(0.125rem * 3));
    color: white;
    font-size: 1rem;
    height: 100%;

    &:hover {
      background-color: rgb(25, 33, 47);
      border-color: rgb(85, 116, 170);
      outline-color: rgb(85, 116, 170);
    }
  }

  & .selector {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: 1;
    background-color: rgb(4, 16, 30);
    padding: 0.5rem;
    border: 3px solid #2b3a55;
    transition: 0.3s ease;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &.selector--visible {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: translate(0, 5px);
    }

    &::before {
      content: '';
      position: absolute;
      top: -5px;
      left: 20px;
      width: 0;
      height: 0;
      border-top: 6px solid rgb(4, 16, 30);
      border-right: 6px solid rgb(4, 16, 30);
      border-bottom: 6px solid transparent;
      border-left: 6px solid transparent;
      transform: rotate(-45deg);
      mix-blend-mode: multiple;
    }
  }
}

.dropdown-group {
  position: relative;

  & .dropdown-button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    background-color: rgb(5, 41, 80);
    border: 0.125rem solid rgb(21, 81, 151);
    border-radius: 4px;
    outline: rgb(21, 81, 151) solid calc(0.3rem / 2.5);
    outline-width: 0.125rem;
    outline-offset: calc(-0.125rem * 3);
    padding: calc(0.125rem * 3) calc(2* calc(0.125rem * 3));
    color: white;
    font-size: 1rem;
    height: 100%;

    &:hover {
      background-color: #08325e;
      border-color: #2164ab;
      outline-color: #2164ab;
    }
  
    & img {
      width: 1rem;
      height: 1rem;
    }
  }

  & .dropdown {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    z-index: 1;
    background-color: rgb(4, 16, 30);
    padding: 0.5rem;
    border: 3px solid rgb(6, 44, 84);
    transition: 0.3s ease;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &.dropdown--visible {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: translate(0, 5px);
    }

    &::before {
      content: '';
      position: absolute;
      top: -5px;
      left: 20px;
      width: 0;
      height: 0;
      border-top: 6px solid rgb(4, 16, 30);
      border-right: 6px solid rgb(4, 16, 30);
      border-bottom: 6px solid transparent;
      border-left: 6px solid transparent;
      transform: rotate(-45deg);
      mix-blend-mode: multiple;
    }
  }
}

.filter-layout {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  & .layout-grid,
  & .layout-table {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  & .layout-grid--selected,
  & .layout-table--selected {
    & svg {
      fill: white;
    }
  }
}

.statistic {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.25rem;
  color: white;
  background-color: rgb(5, 22, 41);
  border: 2px solid rgb(38, 56, 79);
  border-radius: 50px;
  width: min-content;
  padding: 0.25rem 0.5rem;

  & svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.togglable-button {
  cursor: pointer;
  background-color: rgb(5, 41, 80);
  border-style: solid;
  border-color: rgb(21, 81, 151);
  border-radius: 4px;
  border-width: 0.125rem;
  outline: rgb(21, 81, 151) solid calc(0.3rem / 2.5);
  outline-width: 0.125rem;
  outline-offset: calc(-0.125rem * 3);

  &:hover {
    background-color: #08325e;
    border-color: #2164ab;
    outline-color: #2164ab;
  }

  &.togglable-button--toggled {
    background-color: rgb(13, 83, 157);
    border-color: rgb(44, 128, 215);
    outline-color: rgb(44, 128, 215);
  }

  &.togglable-button--character {
    display: flex;
    align-items: center;
    --gap: 0.25rem;
    gap: var(--gap);
    color: white;
    white-space: nowrap;
    --top-and-bottom-padding: calc(0.125rem * 2);
    --left-and-right-padding: calc(var(--top-and-bottom-padding) + var(--gap));
    padding: var(--top-and-bottom-padding) var(--left-and-right-padding);
  }

  &.togglable-button--element,
  &.togglable-button--sigil {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.25rem;
    height: 2.25rem;
    padding: calc(0.125rem * 3);
  
    & span {
      background-size: 100%;
      width: 100%;
      height: 100%;
    }
  }
}

.table-decoration {
  position: relative;
  overflow: visible;
  outline: rgb(28, 117, 190) solid 0.15rem;
}

.table-decoration::before, .table-decoration::after {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background: rgb(28, 117, 190);
  outline: rgb(28, 117, 190) solid 0.15rem;
  outline-offset: 0.1rem;
  transform: rotate(45deg);
  z-index: 1;
}

.table-decoration::before {
  top: -0.4rem;
  left: -0.4rem;
}

.table-decoration::after {
  top: -0.4rem;
  right: -0.4rem;
}

.table-container {
  padding: 0 0.5rem;
  color: white;
  background-color: rgb(4, 16, 30);
  position: relative;
  overflow-x: scroll;
  z-index: 0;
}

.table {
  width: 100%;
  position: relative;
  table-layout: auto;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
}

.table-header--sortable {
  &:hover {
    background-color: rgb(12, 48, 90);
    border-radius: 4px;
    cursor: pointer;
  }
}

.table-head-row {
  height: 2rem;
}

.table-header-cell {
  display: flex;
  align-items: center;
  justify-content: center;

  &.table-header-cell-patk,
  &.table-header-cell-matk,
  &.table-header-cell-heal {
    width: 3rem;

    & img {
      width: 1rem;
      height: 1rem;
    }
  }
}

.table-row {
  background-color: rgb(9, 36, 67);

  &:hover {
    background-color: #0c305a;
    cursor: pointer;
  }
}

.table-data {
  padding: 0.5rem;
}

.table-data--centered {
  text-align: center;
}

.table-data--nowrap {
  white-space: nowrap;
}

.table-data-weapon-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  align-items: center;
  gap: 0.5rem;
}

.table-data-weapon-container-column {
  display: flex;
  flex-direction: column;
}

.table-data-weapon-container-icons {
  display: flex;

  & img {
    background-color: rgb(5, 40, 84);
    border: 2px solid rgb(63, 117, 173);
    box-sizing: border-box;
  }

  & img:nth-child(1) {
    width: 2.25rem;
    height: 2.25rem;
  }

  & img:nth-child(2),
  & img:nth-child(3) {
    width: 1.6875rem;
    height: 1.6875rem;
  }
}

.c-ability-container {
  display: flex;
  flex-direction: column;
  max-height: 7em;
  gap: 0.25rem;

  & .c-ability-header {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  }

  & .c-ability-separator {
    width: 100%;
    height: 2px;
    background-color: rgb(46, 67, 92);
  }

  & .table-data-c-ability {
    overflow-x: scroll;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
  gap: 1rem 0.75rem;
  padding: 0.75rem;
}

.grid-entry {
  display: flex;
  flex-grow: 1;
  gap: 0.5rem;
  color: white;
  transition: transform 0.1s ease;

  &:hover {
    background-color: rgba(12, 48, 90, 0.75);
    border-radius: 8px;
    cursor: pointer;

    & .grid-image-container {
      background-color: #08325e;
      border-color: #2164ab;
      outline-color: #2164ab;
    }
  }

  &:active {
    transform: scale(0.975);
  }

  & .grid-image-container {
    display: flex;
    flex-grow: 0;
    position: relative;
    background-color: rgb(4, 16, 30);
    border-style: solid;
    border-color: rgb(21, 81, 151);
    border-radius: 4px;
    border-width: 0.125rem;
    outline: rgb(21, 81, 151) solid calc(0.3rem / 2.5);
    outline-width: 0.125rem;
    outline-offset: calc(-0.125rem * 3);
    padding: calc(0.125rem * 3);
  
    & img {
      width: 5rem;
      height: 5rem;
      background: radial-gradient(
        rgb(10, 104, 168) 0%,
        rgba(10, 104, 168, 0.987) 4.86%,
        rgba(10, 104, 168, 0.951) 9.3%,
        rgba(10, 104, 168, 0.896) 13.5%,
        rgba(10, 104, 168, 0.825) 17.4%,
        rgba(10, 104, 168, 0.741) 21.18%,
        rgba(10, 104, 168, 0.648) 24.72%,
        rgba(10, 104, 168, 0.55) 28.26%,
        rgba(10, 104, 168, 0.45) 31.74%,
        rgba(10, 104, 168, 0.352) 35.28%,
        rgba(10, 104, 168, 0.259) 38.82%,
        rgba(10, 104, 168, 0.175) 42.6%,
        rgba(10, 104, 168, 0.104) 46.5%,
        rgba(10, 104, 168, 0.049) 50.7%,
        rgba(10, 104, 168, 0.013) 55.14%,
        rgba(10, 104, 168, 0) 60%
      );
    }
  
    & .grid-image-overboost-stars {
      position: absolute;
      white-space: nowrap;
      display: flex;
      justify-content: center;
      bottom: -0.345rem;
      right: 0;
      left: 0;
    }
  }

  & .grid-entry-body {
    display: flex;
    flex-direction: column;
    width: 100%;

    & .grid-entry-body-row {
      display: flex;
      justify-content: space-between;
      flex: 1;

      & .grid-entry-column-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        & .grid-entry-column-row-1 {
          display: flex;
          align-items: center;
          gap: 0.5rem;
    
          & img {
            width: 1.15rem;
            height: 1.15rem;
          }
        }
      }
    
      & .grid-entry-column-2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 0.25rem;
    
        & .ability-icons {
          display: flex;
    
          & img {
            background-color: rgb(5, 40, 84);
            border: 2px solid rgb(63, 117, 173);
            box-sizing: border-box;
          }
    
          & img:nth-child(1) {
            width: 3rem;
            height: 3rem;
          }
    
          & img:nth-child(2),
          & img:nth-child(3) {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
    }
  }
}
