.app-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100vw;
  height: var(--app-bar-height);
  display: flex;
  justify-content: center;
  background-color: rgba(35, 35, 35, 0.5);
  backdrop-filter: blur(10px);
  padding: 0 var(--app-padding);
  box-sizing: border-box;
  box-shadow: 0 0 10px 0 #4d4d4d;

  & .centered-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--app-max-width);

    & .logo-nav {
      display: flex;
      align-items: center;
      gap: 1rem;

      & .buster-sword-logo {
        width: auto;
        height: 3rem;
        filter: drop-shadow(0 0 6px white);
      }

      & nav {

        & ul {
          display: flex;
          gap: 1rem;
          list-style-type: none;
          margin: 0;
          padding: 0;
  
          & li {
            display: inline-block;

            & a {
              text-decoration: none;
              color: white;
              padding: 0.5rem 1rem;
              border-radius: 50px;
              font-weight: bold;

              &:hover {
                background-color: #404040;
              }

              &.active {
                background-color: #4169e1;
              }
            }
          }
        }
      }
    }

    & .github-anchor {
      width: 2rem;
      height: 2rem;
      filter: drop-shadow(0 0 8px white);
    }
  }
}
