.container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  color: white;
  height: 100%;
}

.column-info {
  background-color: rgb(5, 22, 41);
  border: 3px solid rgb(25, 61, 98);
  border-radius: 8px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.column-info {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  padding: 0.75rem;

  & .column-info-header {
    display: flex;
    gap: 1rem;

    & .column-info-header-title {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      & .column-info-header-title-name {
        font-size: 1.5rem;
      }

      & .column-info-header-title-overboost {
        white-space: nowrap;
      }
    }
  }

  & .column-info-stats {
    color: rgb(149, 199, 255);
    font-size: 1.5rem;

    & hr {
      width: 100%;
      height: 0.2rem;
      background-color: rgb(149, 199, 255);
      border: none;
      margin: 0.25rem 0 1rem 0;
    }

    & .column-abilities-rability-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}

.column-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;

  & img {
    background: radial-gradient(
        rgb(10, 104, 168) 0%,
        rgba(10, 104, 168, 0.987) 4.86%,
        rgba(10, 104, 168, 0.951) 9.3%,
        rgba(10, 104, 168, 0.896) 13.5%,
        rgba(10, 104, 168, 0.825) 17.4%,
        rgba(10, 104, 168, 0.741) 21.18%,
        rgba(10, 104, 168, 0.648) 24.72%,
        rgba(10, 104, 168, 0.55) 28.26%,
        rgba(10, 104, 168, 0.45) 31.74%,
        rgba(10, 104, 168, 0.352) 35.28%,
        rgba(10, 104, 168, 0.259) 38.82%,
        rgba(10, 104, 168, 0.175) 42.6%,
        rgba(10, 104, 168, 0.104) 46.5%,
        rgba(10, 104, 168, 0.049) 50.7%,
        rgba(10, 104, 168, 0.013) 55.14%,
        rgba(10, 104, 168, 0) 60%
      );
  }
}
