.rability {
  --border-color: rgb(25, 61, 98);
  display: flex;
  gap: 0.5rem;
  padding: 0.75rem;
  background-color: rgb(5, 20, 37);
  border: 2px solid var(--border-color);
  border-radius: 8px;
  outline: 2px solid var(--border-color);
  outline-offset: -7px;
  color: white;
  line-height: 1.25rem;
  font-size: 1.25rem;
  transition: transform 0.1s ease;

  &:active {
    transform: scale(0.95);
  }

  &:hover {
    cursor: pointer;
    background-color: #0b203e;
    border-color: #2164ab;
    outline-color: #2164ab;
  }

  & img {
    width: 2.5rem;
    height: 2.5rem;
  }
}
