---
import type { ReinforcementAbility } from '../data/classes/ReinforcementAbility';
import ReinforcementAbilityIcon from './ReinforcementAbilityIcon.astro';

interface Props {
  reinforcementAbility: ReinforcementAbility;
  points?: number;
}

const { reinforcementAbility, points } = Astro.props;
---

<a
  href={`/reinforcement-abilities/${reinforcementAbility.id}`}
  class="text-xl"
>
  <ReinforcementAbilityIcon
    reinforcementAbility={reinforcementAbility}
    width="3rem"
    height="3rem"
  />
  {reinforcementAbility.name}
  {points && (
    <div>
      +{points} <span>pt</span>
    </div>
  )}
</a>

<style>
  a {
    --border-color: #193d62;
    --background-color: #051629;
    position: relative;
    display: flex;
    gap: .5rem;
    border: .375rem double var(--border-color);
    border-radius: .25rem;
    background-color: var(--background-color);
    padding: .5rem;
    transition: scale .1s;

    &:hover {
      --border-color: #2164ab;
      --background-color: #0b203e;
    }

    &:active {
      scale: .95;
    }
  }

  div {
    position: absolute;
    right: .5rem;
    bottom: .5rem;
  }

  span {
    color: #95c7ff;
  }
</style>
