---
import type { ImageMetadata } from 'astro';
import type { ReinforcementAbility } from '../data/classes/ReinforcementAbility';
import { Image } from 'astro:assets';

interface Props {
  reinforcementAbility: ReinforcementAbility;
  width?: string;
  height?: string;
}

const { reinforcementAbility, width, height } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('../assets/passiveskill/*.png');
---

<div
  style={{ width, height }}
>
  <Image
    class="animate-imageload"
    src={images[`../assets/passiveskill/${reinforcementAbility.id}.png`]()}
    alt={reinforcementAbility.name}
    
  />
</div>

<style>
  div {
    background: #182d39;
    border: .125rem solid #108a9c;
    flex: none;
    width: 1.5rem;
    height: 1.5rem;
  }
</style>
