.column-info,
.column-abilities {
  background-color: rgb(5, 22, 41);
  border: 3px solid rgb(25, 61, 98);
  border-radius: 8px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.column-info {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  padding: 0.75rem;
  gap: 2rem;

  & .column-info-header {
    display: flex;
    gap: 1rem;

    & .column-info-header-title {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      & .column-info-header-title-name {
        font-size: 1.5rem;
      }

      & .column-info-header-title-overboost {
        white-space: nowrap;
      }

      & .column-info-header-title-level {
        font-size: 1.25rem;
      }
    }
  }

  & .column-info-stats {
    color: rgb(149, 199, 255);
    font-size: 1.5rem;

    & hr {
      width: 100%;
      height: 0.2rem;
      background-color: rgb(149, 199, 255);
      border: none;
      margin: 0.25rem 0 1rem 0;
    }

    & .column-info-stats-row {
      display: flex;
      justify-content: space-between;
      padding: 0.2rem 0.5rem;

      &:nth-child(even) {
        background-color: rgb(5, 31, 63);
      }

      & .column-info-stats-row-title {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        & img {
          width: 1rem;
          height: 1rem;
        }
      }

      & .column-info-stats-row-value {
        color: white;
      }
    }
  }
}

.column-middle {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;

  & .column-middle-image {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    z-index: -1;

    & img {
      position: absolute;
      background: radial-gradient(
        rgb(10, 104, 168) 0%,
        rgba(10, 104, 168, 0.987) 4.86%,
        rgba(10, 104, 168, 0.951) 9.3%,
        rgba(10, 104, 168, 0.896) 13.5%,
        rgba(10, 104, 168, 0.825) 17.4%,
        rgba(10, 104, 168, 0.741) 21.18%,
        rgba(10, 104, 168, 0.648) 24.72%,
        rgba(10, 104, 168, 0.55) 28.26%,
        rgba(10, 104, 168, 0.45) 31.74%,
        rgba(10, 104, 168, 0.352) 35.28%,
        rgba(10, 104, 168, 0.259) 38.82%,
        rgba(10, 104, 168, 0.175) 42.6%,
        rgba(10, 104, 168, 0.104) 46.5%,
        rgba(10, 104, 168, 0.049) 50.7%,
        rgba(10, 104, 168, 0.013) 55.14%,
        rgba(10, 104, 168, 0) 60%
      );
    }
  }

  & .column-middle-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .column-middle-controls-previous,
    & .column-middle-controls-next {
      width: 4rem;
      height: 4rem;
      border: 2px solid rgb(58, 82, 110);
      border-radius: 8px;
      outline: 2px solid rgb(58, 82, 110);
      outline-offset: -7px;
      background-color: rgb(14, 21, 27);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      & svg {
        width: 2.25rem;
        height: 2.25rem;
        fill: rgb(145, 165, 187);
      }
    }

    & .column-middle-controls-tier {
      background-color: rgb(5, 22, 41);
      border: 3px solid rgb(25, 61, 98);
      border-radius: 8px;
      box-sizing: border-box;
      width: 15rem;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.column-abilities {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 35%;
  height: 100%;
  padding: 0.75rem;

  & .column-abilities-cability img {
    background-color: rgb(5, 40, 84);
    border: 2px solid rgb(63, 117, 173);
  }

  & .column-abilities-cability,
  & .column-abilities-rabilities {
    color: rgb(149, 199, 255);
    font-size: 1.5rem;

    & hr {
      width: 100%;
      height: 0.2rem;
      background-color: rgb(149, 199, 255);
      border: none;
      margin: 0.25rem 0 1rem 0;
    }

    & .column-abilities-cability-container {
      border: 3px solid rgb(25, 61, 98);
      border-radius: 8px;
      box-sizing: border-box;
      color: white;
      padding: 0.75rem;

      & .column-abilities-cability-container-header {
        display: flex;
        gap: 0.5rem;
        position: relative;
        line-height: 1.25rem;
        font-size: 1.25rem;

        & .column-abilities-cability-container-header-icons {
          display: flex;

          & .column-abilities-cability-container-header-icons-cability {
            width: 2.5rem;
            height: 2.5rem;
          }

          & .column-abilities-cability-container-header-icons-element,
          & .column-abilities-cability-container-header-icons-sigil {
            width: 1.25rem;
            height: 1.25rem;
          }
        }

        & .column-abilities-cability-container-header-atb {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }

      & hr {
        background-color: rgb(46, 67, 92);
        margin: 0.3rem 0;
      }

      & .column-abilities-cability-container-description {
        font-size: 1.15rem;
        white-space: pre-line;
      }
    }

    & .column-abilities-rability-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      & .column-abilities-rability-container {
        --border-color: rgb(25, 61, 98);
        display: flex;
        gap: 0.5rem;
        padding: 0.75rem;
        background-color: rgb(5, 20, 37);
        border: 2px solid var(--border-color);
        border-radius: 8px;
        outline: 2px solid var(--border-color);
        outline-offset: -7px;
        color: white;
        line-height: 1.25rem;
        font-size: 1.25rem;

        & img {
          width: 2.5rem;
          height: 2.5rem;
        }
      }
    }
  }
}
