---
import type { ImageMetadata } from 'astro';
import type { Character } from '../data/types';
import { Image } from 'astro:assets';
import { characters } from '../data/instances/characters';
import Layout from './Layout.astro';

interface Props {
  selectedCharacter: Character;
  isIndexPage?: boolean;
}

const { selectedCharacter, isIndexPage } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('../assets/character_btn/*.png');
---

<Layout
  title={isIndexPage ? 'Gear - FFVIIEC' : `${selectedCharacter.name} - Weapons - FFVIIEC`}
  highlightedRoute="Gear"
>
  <div class="flex flex-col gap-4 max-w-360 m-auto">
    <div class="flex flex-wrap justify-center gap-1">
      {Object.values(characters).map((character) => (
        <a
          href={`/gear/${character.path}`}
          class={`
            border-2 border-[#394d60] rounded-xs
            outline-2 outline-[#394d60] -outline-offset-6
            hover:border-[#5574aa] hover:outline-[#5574aa]
            transition duration-100 active:scale-95
            ${selectedCharacter.path === character.path ? 'bg-[#032950] !border-[#2c80d7] !outline-[#2c80d7]' : ''}
          `}
          style={{ width: '64px', height: '54px' }}
        >
          <Image
            src={images[`../assets/character_btn/${character.id}.png`]()}
            class="p-1"
            alt={character.name}
            width={60}
            height={48}
          />
        </a>
      ))}
    </div>
    <slot />
  </div>
</Layout>
