---
import type { routes } from '../data/instances/routes';
import '@fontsource/noto-sans';
import '../styles/global.css';
import AppBar from '../components/AppBar.astro';
import AppSidebar from '../components/AppSidebar.astro';

interface Props {
	title?: string;
	highlightedRoute?: keyof typeof routes;
}

const { title, highlightedRoute } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title ?? 'FFVIIEC'}</title>
	</head>
	<body>
		<div class="flex">
			<AppSidebar highlightedRoute={highlightedRoute} />
			<main class="flex flex-col flex-1">
				<AppBar />
				<div class="p-2">
					<slot />
				</div>
			</main>
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: 'Noto Sans', sans-serif;
		color: white;
	}

	body {
		background: url('../assets/background.jpg') no-repeat center/cover, #030d17;
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
	}
</style>
