---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import { characters } from '../data/instances/characters';
import Layout from './Layout.astro';

interface Props {
  title?: string;
  selectedCharacterPath?: string;
}

const { title, selectedCharacterPath } = Astro.props;
---

<Layout title={title}>
  <div class="flex flex-col gap-4 max-w-360 m-auto">
    <div class="flex flex-wrap justify-center gap-1">
      {Object.values(characters).map((character) => (
        <a
          href={`/weapons/${character.path}`}
          class={`
            border-2 border-[#394d60] rounded-xs
            outline-2 outline-[#394d60] -outline-offset-6
            hover:border-[#5574aa] hover:outline-[#5574aa]
            transition duration-100 active:scale-95
            ${selectedCharacterPath === character.path ? 'bg-[#032950] !border-[#2c80d7] !outline-[#2c80d7]' : ''}
          `}
          style={{ width: '64px', height: '54px' }}
        >
          <img
            class="p-1"
            src={`data:image/png;base64,${character.btn60x48Base64}`}
            alt={character.name}
          />
        </a>
      ))}
    </div>
    <slot />
  </div>
</Layout>
